absl-py==0.12.0
aioredis==1.3.1
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.0.3
asgiref==3.3.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
bcolz==1.2.1
bleach==3.3.0
boto3==1.18.18
botocore==1.21.18
cached-property==1.5.2
cachetools==4.2.2
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
cloudpickle==1.6.0
cmake==3.18.4.post1
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.6
cvxopt==1.2.6
cycler==0.10.0
daphne==3.0.1
decorator==5.0.5
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.3
django-allauth==0.45.0
django-appconf==1.0.4
django-imagekit==4.0.2
django-storages==1.11.1
dlib==19.22.0
docopt==0.6.2
easydict==1.9
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gnumpy==0.2
google-api-core==1.28.0
google-api-python-client==2.5.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-core==1.7.1
google-cloud-speech==2.5.0
google-cloud-storage==1.40.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
graphviz==0.8.4
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
hiredis==1.1.0
httplib2==0.19.1
hyperlink==21.0.0
idna==2.6
importlib-metadata==3.7.3
imutils==0.5.4
incremental==21.3.0
inform==1.23.0
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
libcst==0.3.19
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.3.0
MNN==1.1.3
msgpack==1.0.2
mypy-extensions==0.4.3
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
pilkit==2.0
Pillow==8.1.2
pipenv==2020.11.15
plotly==4.14.3
prometheus-client==0.10.1
prompt-toolkit==3.0.18
proto-plus==1.19.0
protobuf==3.15.6
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.9.1
ptflops==0.6.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
Pygments==2.9.0
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-twitter==3.5
python-vlc==3.0.12118
python3-openid==3.2.0
pytz==2021.1
pywin32==300
pywinpty==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
quantiphy==2.13.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.6.2
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six @ file:///C:/ci/six_1605205426665/work
sklearn==0.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
synr==0.3
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing==3.7.4.3
typing-extensions==3.7.4.3
typing-inspect==0.7.1
uritemplate==3.0.1
urllib3==1.26.6
virtualenv==20.4.3
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.3.0
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.3.3
zipp==3.4.1
zope.interface==5.3.0
