*{
    margin: 0;
    padding: 0
}


body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}

.container{
    background-color: rgb(228, 233, 221);
    width: 95%;
    height: 100%;
    margin: 80px auto;
    position: relative;
}

.main-img img{
    width: 100%;
    height: 100%;
}

.main-wrap{
    width: 100%;
    
    padding-top: 80px;
    position: relative;
}

.main-text{
    position: absolute;
    display: flex;
    margin-top: 80px;
    height: 100%;
    width: 43%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.349);
}

.main-text p{
    margin: 250px 50px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.bottom-wrap{
    padding-top: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(228, 233, 221);
    z-index: 2;
}

.bottom-img img{
    width: 30%;
    height: 100%;
    margin: 10px;
    
}


.bottom-img p{
    padding-left: 3%;
    margin-bottom: 10px;
    text-align: left;
}

.bottom-button{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.bottom-button p{
    font-weight: bold;
}

.bottom-button a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.bottom-review h3{
    margin-left: 50px;
}

.first-img{
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
}

.second-img{
    position: absolute;
    top: 150px;
    left: 535px;
    color: white;
}

.third-img{
    position: absolute;
    top: 150px;
    right: 150px;
    color: white;
}

.bottom-review{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(228, 233, 221);
}

.bottom-review img{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.main-con{
    background-color: rgb(245, 247, 243);
    text-align: center;
    margin: 20px 80px;
    padding-bottom: 40px;
}

.main-con h1{
    padding: 80px;
}

.main-con table{
    margin: 0 80px;
    font-weight: bold;
    border-spacing: 0 20px;
}

.bottom-wrap-base{
    height: 80px;
    background-color: rgb(228, 233, 221);
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 0 80px;
    align-items: center;
    text-decoration: none;
}

.navbar-title a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 550px;
}

.base-container{
    background-color: rgb(228, 233, 221);
    width: 95%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}


.navbar-btn{
    /* 상단바 버튼 */
    text-decoration: none;
}

.navbar-btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
    
    
}

.review-list{
    background-color: white;
    width: 200px;
    height: 330px;
    margin: 0;
    padding: 0;
}

.diary img{
    width: 700px;

}

.diary{
    width: 80%;
    margin: 80px auto;
}

.diary h4{
    text-align: left;
    margin: 40px 0;
}

.diary p{
    margin: 20px;
}

.login-wrap img{
    width: 191px;
    height: 46px;
}

.login-wrap{
    width: 400px;
    height: 400px;
    background-color: rgb(244, 246, 241);
    margin: 0 auto;
    
}

.login-wrap h1{
    text-align: center;
    
    padding: 60px;
}

.login-btn{
    width: 196px;
    margin: 0 auto;
}

.title{
    position: absolute;
    top: -40px;
    left: 450px;
    z-index: 2;
    text-align: center;
    font-size: 50px;
}

.liked{
    text-align: right;
    margin: 0 80px;
}

.btn-wrap{
    background-color: rgb(248, 250, 247);
    margin: 0 auto;
    width: 600px;
    height: 200px;
    text-align: center;
    
}

.btn-wrap h1{
    padding: 40px;
}

.btn-wrap a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    background-color: rgb(94, 94, 94);
    padding: 10px;
}

.register-wrap{
    width: 90%;
    margin: 40px auto;
    padding-bottom: 80px;
    background-color: rgb(245, 247, 243);
}

.register-wrap table{
    padding: 40px 80px;
    font-weight: bold;
    border-spacing: 0 20px;
}

.register-wrap input{
    height: 30px;
    margin-left: 10px;
}

.form-wrap button{
    width: 80px;
    height: 30px;
    background-color: rgb(94, 94, 94);
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
    float: right;
}

.register-wrap form{
    position: relative;
}


.register-wrap >form> button{
    width: 80px;
    height: 30px;
    background-color: rgb(94, 94, 94);
    color: white;
    position: absolute;
    left: 50%;
    
}

.form-wrap{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    overflow: hidden;
}

.form-wrap input{
    height: 30px;
    margin: 10px;
}
