*{
    margin: 0;
    padding: 0
}


body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}

.container{
    background-color: rgb(228, 233, 221);
    width: 95%;
    height: 100%;
    margin: 80px auto;
    position: relative;
}

.main-img img{
    width: 100%;
    height: 100%;
}

.main-wrap{
    width: 100%;
    
    padding-top: 80px;
    position: relative;
}

.main-text{
    position: absolute;
    margin-top: 80px;
    height: 100%;
    width: 43%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.349);
}

.bottom-wrap{
    padding-top: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(228, 233, 221);
    z-index: 2;
}

.bottom-img img{
    width: 30%;
    height: 100%;
    margin: 10px;
    
}


.bottom-img p{
    padding-left: 3%;
    margin-bottom: 10px;
    text-align: left;
}

.bottom-button{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.first-img{
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
}

.second-img{
    position: absolute;
    top: 150px;
    left: 535px;
    color: white;
}

.third-img{
    position: absolute;
    top: 150px;
    right: 150px;
    color: white;
}

.bottom-review{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(228, 233, 221);
}

.bottom-review div{
    
}

.bottom-review img{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.main-con{
    background-color: white;
    text-align: center;
    margin: 20px 80px;
}

.bottom-wrap-base{
    height: 80px;
    background-color: rgb(228, 233, 221);
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 0 80px;
    align-items: center;
}

.base-container{
    background-color: rgb(228, 233, 221);
    width: 95%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.navbar-btn{
    /* 상단바 버튼 */
}

.review-list{
    background-color: white;
    width: 200px;
    height: 330px;
    margin: 0;
    padding: 0;
}

.diary img{
    width: 700px;

}

.diary{
    width: 80%;
    margin: 0 auto;
}

.login-wrap img{
    width: 191px;
    height: 46px;
}

.login-wrap{
    background-color: rgb(244, 246, 241);
}