{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 상단바 자리 -->
    <div class="navbar">
      <div class="navbar-title"><h1><a href="{% url 'main' %}">traveler</a></h1></div>
      <div class="navbar-btn">
      <div class='nv-cnt'>
      {% if user.is_authenticated %}
        <a href="{% url 'register_chr'%}">여행 계획하기</a>
        <a href="{% url 'userpage'%}">마이페이지</a>
        <a href="/accounts/logout">로그아웃</a>
      {% else %}
       <a href="{% url 'login'%}">로그인</a>
      {% endif %}
    </div>
      </div>
      </div>
      
    <div class="base-container">
      
        {% block contents %}
		<!--이 안에 각 html별 코드가 들어감-->
        {% endblock%}
      
    </div>
    
</body>
</html>