{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- 상단바 자리 -->
    <div class="navbar">
      <div><h1><a href="{% url 'main' %}">SERVICE NAME</a></h1></div>
      <div class="navbar-btn">
        <a href="">여행 계획하기</a>
        <a href="">마이페이지</a>
        <a href="#">로그아웃</a></div>
      </div>
    <div class="base-container">
      
        {% block contents %}
		<!--이 안에 각 html별 코드가 들어감-->
        {% endblock%}
      
    </div>
    
</body>
</html>