{% extends "base.html" %}
{% load static %}
{% block contents %}
<a href="#">내 정보</a>
<a href="#">여행 일정</a>
<a href="#">찜한 일정</a>
<div class="user-wrap">
    <form action="#">
        <button></button>
        <input type="text">
    </form>
    <a href="#">계획중인 일정</a>
    |
    <a href="#">완료된 일정</a>
    <div class="done-list">
        <h3>title</h3>
        <a href="#">detail</a>
    </div>
    <div class="done-list">
        <h3>title</h3>
        <a href="#">detail</a>
    </div>
    <div class="done-list">
        <h3>title</h3>
        <a href="#">detail</a>
    </div>
</div>
{% endblock %}