{% extends "base.html" %}
{% load static %}
{% block contents %}
<a href="#">내 정보</a>
<a href="#">여행 일정</a>
<a href="#">찜한 일정</a>
<div class="user-wrap">
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
    <div class="like-list">
        <img src="http://placehold.it/200x200" alt="">
        <h3>title</h3>
        <h4>username</h4>
    </div>
</div>
{% endblock %}