{% extends "base.html" %}
{% load static %}
{% block contents %}
<div class="main-wrap">
    <div class="login-wrap">
        <h1>service name</h1>
        <div class="login-btn">
            <a href="#"><img src="{% static 'btn_google_signin_light_normal_web.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'kakao_login_medium_narrow.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'btnG.png' %}" alt=""></a>
        </div>
        
    </div>
</div>
<div class="bottom-wrap-base"></div>
{% endblock %}