{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main-wrap">
            <div class="main-img"><img src="{% static 'main.jpg' %}" alt=""></div>
            
            <div class="main-text">
                <p>한 번의 기록이<br>소중한 기억이 될 수 있도록</p>
            </div>
        </div>
        <div class="bottom-wrap">
            <div class="bottom-img">
                
                <div class="bottom-button">
                    <p>회원가입을 하시면 서비스 이용 가능합니다
                    <br>(SERVICE NAME)에서 여행을 계획하고 기록해보세요</p>
                    <img src="{% static 'main2.jpg' %}" alt="">
                    <a href = "{% url 'register_date'%}"class="first-img">여행 일정 만들기</a>
                    <img src="{% static 'main3.jpg' %}" alt="">
                    <a href="login" class="second-img">로그인/회원가입</a>
                    <img src="{% static 'main4.jpg' %}" alt="">
                    <a href="register_review_choose"class="third-img">여행 기록하기</a>
                </div>
                
            </div>
            <div class="bottom-review">
                <p>다른 유저 일정 둘러보기</p>

                <!--여기 남의 유저 일정 넣기-->
                <!-- {%for blog in blog %} -->
                <div class="review-list">
                    <img src="http://placehold.it/200x200" alt="">
                    <h1>title</h1>
                    <h3>username</h3>
                </div>
                <!-- {% endfor %} -->
            </div>
        </div>
    </div>
    
</body>
</html>