{% extends "base.html" %}
{% load static %}
{% block contents %}
<a href="#">내 정보</a>
<a href="#">여행 일정</a>
<a href="#">찜한 일정</a>
<div class="user-wrap">
    <a href="#">계획중인 일정</a>
    |
    <a href="#">완료된 일정</a>
    <div class="schd-list">
        <h3>부산</h3>
        <p>2021.8.3~2021.8.4</p>
    </div>
    <div class="schd-list">
        <h3>부산</h3>
        <p>2021.8.3~2021.8.4</p>
    </div>
    <div class="schd-list">
        <h3>부산</h3>
        <p>2021.8.3~2021.8.4</p>
    </div>
</div>
{% endblock %}