{% extends "base.html" %}
{% load static %}
{% block contents %}
<br>
<br>
<br>
<br>

<div class="list-tag">
<a href="{% url 'user-info'%}">내 정보</a>
<a href="{% url 'schd_list'%}">여행 일정</a>
<a href="{% url 'like_list'%}">찜한 일정</a>
</div>
<div class="list-wrap">
    <br>
    <br>
    <div class="select-list">
        <a href="{% url 'schd_list'%}">계획중인 일정</a>
    |
    <a href="{%url 'done_list'%}">완료된 일정</a>
    </div>
    
    <br>
    <br>
    <br>
    <div class="schd-con">
        {% for myplan in plan%}
        <div class="schd-list">
            <h3>{{myplan.title}}</h3>
            <br>
            <p>{{myplan.start_date}}~{{myplan.end_date}}</p>
        </div>
        {% endfor %}
    </div>
    
</div>
<div class="mini-con"></div>
{% endblock %}